{
  "singleQuote": false,
  "semi": true,
  "bracketSpacing": true,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 2,
  "proseWrap": "never",
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ]
}

